@import './variables.scss';

:export {
    successGreen: $successGreen;
    errorRed: $errorRed;
    white: $white;
    heather: $heather;
    ebony: $ebony;
    porcelain: $porcelain;
    comet: $comet;
    plantation: $plantation;
    shadow: $shadow;
    kashmirBlue: $kashmirBlue;
    selectedBlue: $selectedBlue;
    progressStart: $progressStart;
    progressEnd: $progressEnd
}