// Colors
$successGreen: #28a745;
$errorRed:#dc3545;
$white: #fff;
$heather: #b4b9cd;
$ebony: #060814;
$porcelain: #eceeef;
$comet: #929bc1;
$plantation: #252c4a;
$shadow: #7f6749;
$kashmirBlue: #234869;
$selectedBlue: #2098d1;
$progressStart: 252, 80, 104;
$progressEnd: 187,104,236;


// Breakpoints
$tablet: '(min-width: 768px)';
$mobileS: '(min-width: 320px)';
$mobileM: '(min-width: 375px)';
$mobileL: '(min-width: 425px)';
$tablet: '(min-width: 768px)';
$laptop: '(min-width: 1024px)';
$laptopL: '(min-width: 1440px)';
$desktop: '(min-width: 2560px)';